In [7]:
import pandas as pd

# Membuat DataFrame
data = {'Nama'    : ['Ana', 'Anu', 'Ano', 'Ani', 'Ane', 'Abu', 'Abi'],
        'Kelas'   : ['2A', '2B', '2C', '2D', '2E', '2F', '2G'],
        'Gender'  : ['Cewek', 'Cowok', 'Cowok', 'Cewek', 'Cewek', 'Cowok', 'Cowok'],
        'Nomor_HP': ['08113322582', '08129988563', '08137896541', '08144447789', '08158886665', '08173337744', '08198877444']}

df = pd.DataFrame(data)

#Menambahkan kolom baru
df['Domisili_asal'] = ['Luar kota', 'Pekanbaru', 'Pekanbaru', 'Luar kota', 'Luar kota', 'Pekanbaru', 'Pekanbaru']
print("DataFrame setelah menambahkan kolom 'Domisili_asal':") 
print(df)
print("\n")

DataFrame setelah menambahkan kolom 'Domisili_asal':
  Nama Kelas Gender     Nomor_HP Domisili_asal
0  Ana    2A  Cewek  08113322582     Luar kota
1  Anu    2B  Cowok  08129988563     Pekanbaru
2  Ano    2C  Cowok  08137896541     Pekanbaru
3  Ani    2D  Cewek  08144447789     Luar kota
4  Ane    2E  Cewek  08158886665     Luar kota
5  Abu    2F  Cowok  08173337744     Pekanbaru
6  Abi    2G  Cowok  08198877444     Pekanbaru

In [8]:
import pandas as pd

# Membuat DataFrame
data = {'Nama'    : ['Ana', 'Anu', 'Ano', 'Ani', 'Ane', 'Abu', 'Abi'],
        'Kelas'   : ['2A', '2B', '2C', '2D', '2E', '2F', '2G'],
        'Gender'  : ['Cewek', 'Cowok', 'Cowok', 'Cewek', 'Cewek', 'Cowok', 'Cowok'],
        'Nomor_HP': ['08113322582', '08129988563', '08137896541', '08144447789', '08158886665', '08173337744', '08198877444']}

df = pd.DataFrame(data)

#Menghapus kolom 'Nomor_HP'
df = df.drop(columns=['Nomor_HP'])
print("DataFrame setelah menghapus kolom 'Nomor_HP':")
print(df)
print("\n")

DataFrame setelah menghapus kolom 'Nomor_HP':
  Nama Kelas Gender
0  Ana    2A  Cewek
1  Anu    2B  Cowok
2  Ano    2C  Cowok
3  Ani    2D  Cewek
4  Ane    2E  Cewek
5  Abu    2F  Cowok
6  Abi    2G  Cowok

In [9]:
import pandas as pd

# Membuat DataFrame
data = {'Nama'    : ['Ana', 'Anu', 'Ano', 'Ani', 'Ane', 'Abu', 'Abi'],
        'Kelas'   : ['2A', '2B', '2C', '2D', '2E', '2F', '2G'],
        'Gender'  : ['Cewek', 'Cowok', 'Cowok', 'Cewek', 'Cewek', 'Cowok', 'Cowok'],
        'Nomor_HP': ['08113322582', '08129988563', '08137896541', '08144447789', '08158886665', '08173337744', '08198877444']}

df = pd.DataFrame(data)

#Menambahkan kolom baru
df['Usia'] = ['20', '20', '19', '19', '18', '18', '17']
print("DataFrame setelah menambahkan kolom 'Usia':") 
print(df)
print("\n")

DataFrame setelah menambahkan kolom 'Usia':
  Nama Kelas Gender     Nomor_HP Usia
0  Ana    2A  Cewek  08113322582   20
1  Anu    2B  Cowok  08129988563   20
2  Ano    2C  Cowok  08137896541   19
3  Ani    2D  Cewek  08144447789   19
4  Ane    2E  Cewek  08158886665   18
5  Abu    2F  Cowok  08173337744   18
6  Abi    2G  Cowok  08198877444   17

In [14]:
import pandas as pd

# Membuat DataFrame
data = {'Nama'    : ['Ana', 'Anu', 'Ano', 'Ani', 'Ane', 'Abu', 'Abi'],
        'Kelas'   : ['2A', '2B', '2C', '2D', '2E', '2F', '2G'],
        'Gender'  : ['Cewek', 'Cowok', 'Cowok', 'Cewek', 'Cewek', 'Cowok', 'Cowok'],
        'Nomor_HP': ['08113322582', '08129988563', '08137896541', '08144447789', '08158886665', '08173337744', '08198877444']}

df = pd.DataFrame(data)

#Menambahkan kolom baru
df['Usia'] = ['20', '20', '19', '19', '18', '18', '17']
print("DataFrame setelah menambahkan kolom 'Usia':") 
print(df)
print("\n")

# Menghitung rata-rata usia
rata_usia = df['Usia'].mean()
print("Rata-rata usia:", rata_usia)
print("\n")

# Menghitung total usia
total_usia = df['Usia'].sum()
print("Total usia:", total_usia)
print("\n")

DataFrame setelah menambahkan kolom 'Usia':
  Nama Kelas Gender     Nomor_HP Usia
0  Ana    2A  Cewek  08113322582   20
1  Anu    2B  Cowok  08129988563   20
2  Ano    2C  Cowok  08137896541   19
3  Ani    2D  Cewek  08144447789   19
4  Ane    2E  Cewek  08158886665   18
5  Abu    2F  Cowok  08173337744   18
6  Abi    2G  Cowok  08198877444   17


Rata-rata usia: 2885988454545.2856


Total usia: 20201919181817

In [18]:
import pandas as pd

# Membuat DataFrame
data = {'Nama'    : ['Ana', 'Anu', 'Ano', 'Ani', 'Ane', 'Abu', 'Abi'],
        'Kelas'   : ['2A', '2B', '2C', '2D', '2E', '2F', '2G'],
        'Gender'  : ['Cewek', 'Cowok', 'Cowok', 'Cewek', 'Cewek', 'Cowok', 'Cowok'],
        'Nomor_HP': ['08113322582', '08129988563', '08137896541', '08144447789', '08158886665', '08173337744', '08198877444']}

df = pd.DataFrame(data)

#Menambahkan kolom baru
df['Domisili_asal'] = ['Luar kota', 'Pekanbaru', 'Pekanbaru', 'Luar kota', 'Luar kota', 'Pekanbaru', 'Pekanbaru']
print("DataFrame setelah menambahkan kolom 'Domisili_asal':") 
print(df)
print("\n")

#Menghitung jumlah orang di setiap domisili asal
jumlah_per_domisili_asal = df['Domisili_asal'].value_counts()
print("Jumlah orang per domisili asal:")
print(jumlah_per_domisili_asal)

DataFrame setelah menambahkan kolom 'Domisili_asal':
  Nama Kelas Gender     Nomor_HP Domisili_asal
0  Ana    2A  Cewek  08113322582     Luar kota
1  Anu    2B  Cowok  08129988563     Pekanbaru
2  Ano    2C  Cowok  08137896541     Pekanbaru
3  Ani    2D  Cewek  08144447789     Luar kota
4  Ane    2E  Cewek  08158886665     Luar kota
5  Abu    2F  Cowok  08173337744     Pekanbaru
6  Abi    2G  Cowok  08198877444     Pekanbaru


Jumlah orang per domisili asal:
Domisili_asal
Pekanbaru    4
Luar kota    3
Name: count, dtype: int64